@charset "UTF-8";

@media(max-width: 512px) {
    .logo {
        width: 47%;
    }
}

@media(max-width: 479px) {
    .paragrafos {
        margin: 40px 30px;
        font-size: 15px;
    }
    .paragrafo_ultimo {
        margin: 0px;
        font-size: 30px;       
    }
}

@media(max-width: 393px) {
    .nomeMarca {
        font-size: 38px;
    }
}

@media(max-width: 360px) {
    .nomeMarca {
        font-size: 32px;
    }
}

@media(max-width: 280px) {
    .nomeMarca {
        font-size: 27px;
    }
    .paragrafos {
        font-size: 12px;
    }
}

@media(max-width: 240px) {
    .nomeMarca {
        font-size: 23px;
    }
}

@media(min-width: 840px) and (max-width: 959px) {
    .gesso1 {
        width: 320px;
    }
    .gesso2 {
        width: 320px;
    }
    .gesso3 {
        width: 320px;
    }
    .gesso4 {
        width: 320px;
    }
    .gesso5 {
        width: 320px;
    }
    .gesso6 {
        width: 320px;
    }
    .gesso7 {
        width: 320px;
    }
    .gesso8 {
        width: 320px;
    }
}

@media(min-width: 720px) and (max-width: 839px) {
    .gesso1 {
        width: 280px;
    }
    .gesso2 {
        width: 280px;
    }
    .gesso3 {
        width: 280px;
    }
    .gesso4 {
        width: 280px;
    }
    .gesso5 {
        width: 280px;
    }
    .gesso6 {
        width: 280px;
    }
    .gesso7 {
        width: 280px;
    }
    .gesso8 {
        width: 280px;
    }
}

* {
    font-family: 'Montserrat';
    margin: 0px;
}

body {
    background-color: rgba(128, 128, 128, 0.096);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.795);
    font-size: 36px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100.1vh;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.507);
    transition-duration: 2s;
    transition-property: background-image;
}

main {
    display: none;
}

/*logo*/
main>img {
    width: 240px;
    display: block;
    box-shadow: none;
    margin: auto;
}

.logo:hover {
    transform: none;
}

h1 {
    color: black;
    transition: 2.7s;
    font-size: 50px;
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
}

h2 {
    color: black;
    text-decoration: overline;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 80px;
    text-align: center;
}

p {
    color: rgba(128, 128, 128, 0.603);
    margin: 40px;
    text-align: center;
    font-size: 24px;
}

section {
    margin: 80px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div {
    width: 240px;
    height: 320px;
    border-radius: 0px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.438);
}

.gesso1 {
    background: url('imagens/floral.jpg');
    background-position: center center;
    background-size: cover;
    transition: 0.5s;
    transition-property: transform;
}

.gesso1:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.gesso2 {
    background: url('imagens/duna.jpg');
    background-position: center center;
    background-size: cover;
    transition: 0.5s;
    transition-property: transform;
}

.gesso2:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.gesso3 {
    background: url('imagens/canjiquinha.jpg');
    background-position: center center;
    background-size: cover;
    transition: 0.5s;
    transition-property: transform;
}

.gesso3:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.gesso4 {
    background: url('imagens/mosaico.jpg');
    background-position: center center;
    background-size: cover;
    transition: 0.5s;
    transition-property: transform;
}

.gesso4:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.gesso5 {
    background: url('imagens/mosaico2.jpg');
    background-position: left center;
    background-size: cover;
    transition: 0.5s;
    transition-property: transform;
}

.gesso5:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.gesso6 {
    background: url('imagens/canjiquinha2.jpg');
    background-position: center center;
    background-size: cover;
    transition: 0.5s;
    transition-property: transform;
}

.gesso6:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.gesso7 {
    background: url('imagens/duna2.jpg');
    background-position: center center;
    background-size: cover;
    transition: 0.5s;
    transition-property: transform;
}

.gesso7:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.gesso8 {
    background: url('imagens/floral2.jpg');
    background-position: center center;
    background-size: cover;
    transition: 0.5s;
    transition-property: transform;
}

.gesso8:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.contato {
    width: auto;
    height: auto;
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: none;
}

/*frase para contato*/
div p {
    margin: 0px;
    /*width: 800px;*/
}

.logowhats {
    height: 60px;
    box-shadow: none;
    width: 60px;
    transition: 0.2s;
}

.logowhats:active {
    cursor: pointer;
    transform: scale(1.5);
}

.logoface {
    height: 30px;
    box-shadow: none;
    width: 30px;
    transition: 0.2s;
}

.logoface:active {
    cursor: pointer;
    transform: scale(1.5);
}

.logoGmail {
    height: 23px;
    box-shadow: none;
    width: 30px;                             
    transition: 0.2s;
    margin: 0px 15px;
}

.logoGmail:active {
    cursor: pointer;                          
    transform: scale(1.5);
}

footer {
    display: none;
}

footer p {
    font-size: 12px;
    margin: 2px;
    color: rgba(128, 128, 128, 0.603);
}

a {
    text-decoration: none;
    color: rgba(128, 128, 128, 0.603);
}

a:hover {
    text-decoration: overline;
}
